*{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
}
.card{
    margin: 0 auto;
    max-width: 350px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0px black;
    transition: 0.3s;
    font-size: 0px;
}
.card:hover{
    box-shadow: 0 12px 20px 0px black;
}
.cal-head #result{
    width: 335px ;
    height: 100px;
    font-size: 33px;
    font-weight: bold;
    text-align: right;
    padding: 0px 3px ;
  letter-spacing: 3px;

}
.btn{
    width: 87px;
    height: 70px;
    font-weight: bold;
    font-size: 16px;
    background-color: #1f2326;
    color: white;
}
.btm-style{
    background-color: #5F4BB6;
}
.btn:hover{
    background-color: pink;
}